<div class="container">
  <h1>{{hotel.hotelName}}</h1>
  <p>Address:{{hotel.address}}, {{hotel.city}}, {{hotel.postcode}}</p>
  <p>Rooms Available: {{hotel.numOfRooms}}</p>
  <p>Amenities: {{hotel.amenities}}</p>
  <p>Airport Transfers: {{hotel.airportTransfers}}</p>
  <p>Rating: {{hotel.starRating}}</p>
  <div>
  <button class="btn btn-primary" routerLink="/review-list/{{hotel.hotelId}}">Reviews</button>
</div>
  <div *ngIf="authenticationService.hasRole('customer'); else noButton">
  <button class="btn btn-primary" routerLink="/hotel/{{hotel.hotelId}}/book">Book Now!</button>
  </div>
  <ng-template #noButton></ng-template>
</div>


