<h2>This is your Account</h2>
<div>
  Username: {{ authenticationService.user.username }}
  <br>
  First Name: {{ authenticationService.user.firstName }}
  <br>
  Last Name: {{ authenticationService.user.lastName }}
  <br>
  Roles:
  <mat-chip-list>
    <mat-chip *ngFor="let role of authenticationService.user.roles">
      {{ role.roleName.replace('ROLE_', '').toLowerCase() }}
    </mat-chip>
  </mat-chip-list>
</div>
<br>
<div *ngIf="authenticationService.hasRole('hotelOwner')">
  <h2>Your Hotels</h2>
    <app-hotel-item *ngFor="let hotel of hotels" [hotel]="hotel"></app-hotel-item>
</div>
