<h2>
  <a class="nav-link" routerLink="/hotel/{{hotel.hotelId}}">{{hotel.hotelName}}</a>
</h2>
<div>
  <ul>
    <li> Rooms Available: {{ hotel.numOfRooms }} </li>
    <li> Address : {{ hotel.address }} </li>
    <li> Rating : {{ hotel.starRating }} </li>
    <div *ngIf="authenticationService.hasRole('hotelOwner'); else noButton">
      <button class="btn btn-primary" routerLink="/edit-hotel/{{ hotel.hotelId }}">Edit</button>
    </div>
    <ng-template #noButton></ng-template>
  </ul>
</div>



