<h2>Edit User</h2>
<form (ngSubmit)="editUser()">
  <mat-form-field>
    <mat-label>Username:</mat-label>
    <input matInput name="username" required
           type="text" [(ngModel)]="editUserForm.username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name:</mat-label>
    <input matInput name="firstName" required
           type="text" [(ngModel)]="editUserForm.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name:</mat-label>
    <input matInput name="lastName" required
           type="text" [(ngModel)]="editUserForm.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Role:</mat-label>
    <mat-select [(ngModel)]="editUserForm.roles[0]" name="role" [compareWith]="roleComparer">
      <mat-option *ngFor="let role of allRoles" [value]="role">
        {{ role.roleName.replace('ROLE_', '').toLowerCase() }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
  <input type="hidden" name="userId" [(ngModel)]="editUserForm.userId">
</form>
