<p>{{hotel.hotelName}}</p>
<div class="form" (change)="onChange">
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" placeholder="Start date" [min]="minDate" [(ngModel)]="start"
           (dateInput)="inputStartDate($event)" (dateChange)="changeStartDate($event)">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" placeholder="End date" [min]="minEndDate" [(ngModel)]="end"
           (dateInput)="inputEndDate($event)" (dateChange)="changeEndDate($event)">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Room Type</mat-label>
    <mat-select [(value)]="roomTypeSelected">
      <mat-option *ngFor="let type of hotel.room" [value]="type.roomType">
        {{ type.roomType }} - £{{ type.price }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="hotel.airportTransfers">
    <mat-checkbox class="example-margin" [(ngModel)]="checked">Airport Transfer? (£{{ hotel.transferPrice }})
    </mat-checkbox>
  </div>
  <div class="container">
    <button class="btn btn-primary" [disabled]="submitted" (click)="createAndSubmitBooking(startDate, endDate)">Submit
      booking
    </button>
  </div>
</div>

