<h2>Create New Hotel</h2>


<form (ngSubmit)="addHotel()">
  <mat-form-field>
    <mat-label>Hotel Name:</mat-label>
    <input matInput name="hotelName" required autocomplete="off"
           type="text" [(ngModel)]="addHotelForm.hotelName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address:</mat-label>
    <input matInput name="address" required
           type="text" [(ngModel)]="addHotelForm.address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postcode:</mat-label>
    <input matInput name="postcode" required
           type="text" [(ngModel)]="addHotelForm.postcode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>City:</mat-label>
    <input matInput name="city" required
           type="text" [(ngModel)]="addHotelForm.city">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amenities:</mat-label>
    <input matInput name="amenities" required
           type="text" [(ngModel)]="addHotelForm.amenities">
  </mat-form-field>
  <mat-form-field>
    <mat-label> Room Types:</mat-label>
    <mat-select [(ngModel)]="addHotelForm.room" name="room" multiple>
      <mat-option *ngFor="let room of rooms" [value]="room">
        {{room.roomType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Star Rating:</mat-label>
    <input matInput type="number" max="5" min="0" name="starRating" required
           [(ngModel)]="addHotelForm.starRating">
  </mat-form-field>
  <section>
    <mat-checkbox name="airportTransfers" [(ngModel)]="addHotelForm.airportTransfers">Airport Transfer</mat-checkbox>
  </section>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

